<% if (success_msg) { %>
    <div style="color: green;"><%= success_msg %></div>
<% } %>
<% if (error_msg) { %>
    <div style="color: red;"><%= error_msg %></div>
<% } %>
<% if (message) { %>
    <div style="color: red;"><%= message %></div>
<% } %>
<% if (error) { %>
    <div style="color: red;"><%= error %></div>
<% } %>